<link type="text/css" href="/stylesheets/page.css" rel="Stylesheet"/>
<link type="text/css" href="/stylesheets/blitzer/jquery-ui-1.8.2.custom.css" rel="Stylesheet"/>
<script type="text/javascript">
  $(function() {
    $("#accordion").accordion({
      fillSpace: true
    });
  });
</script>

<div id="accordion">
  <% @pages.each do |page| %>
    <% idstring = "page=" + page.id.to_s %>
    <h3><a href="#"><%= page.title %></a></h3>
    <div id="<%= idstring %>">
      <%= page.body %>
    </div>
  <% end %>
</div>
