<link type="text/css" href="/stylesheets/page.css" rel="Stylesheet"/>
<link type="text/css" href="/stylesheets/blitzer/jquery-ui-1.8.2.custom.css" rel="Stylesheet"/>
<script type="text/javascript">
  $(function() {
    $("#accordion").accordion({
      fillSpace: true
    });
    //$('#showcode').click(function() {
    $(":button").click(function() {
      var pageNo = $(this).parent().attr("id");
      var snippetNo = "#snippet" + pageNo;
      //alert(snippetNo);
      $(snippetNo).dialog({ autoOpen: false, modal: true, minWidth: 400 });
      var codeName = $(this).attr("value");
      var pageId = "#" + $(this).parent().attr("id");
      $.post("/slideshow/dialog", { value: codeName, snippet: snippetNo }, null, "script");
      //alert(codeName);
      $(snippetNo).dialog('open');
      return false;
    });
  });
</script>
<div id="accordion">
  <% @pages.each do |page| %>
    <% idstring = "page" + page.id.to_s %>
    <h3><a href="#"><%= page.title %></a></h3>
    <div id="<%= idstring %>">
<div id="snippet<%= idstring %>" title="Example">
<!-- sample code -->
</div>
      <%= page.body %>
    </div>
  <% end %>
</div>
